@model eDnevnik.Models.Profesori

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Profesori</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.korisnicko_ime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.korisnicko_ime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lozinka)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lozinka)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.administrator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.administrator)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prezime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prezime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_profesor }) |
    @Html.ActionLink("Back to List", "Index")
</p>
